@use '@/styles/helpers' as *;

.timer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: to-rem(24);

  svg {
    @include square(250);

    circle {
      stroke-width: to-rem(8);
      transition: stroke-dashoffset 1s ease-in-out;
    }

    circle:nth-child(1) {
      stroke: var(--color-text-dim);
    }

    circle:nth-child(2) {
      stroke: var(--color-text);
    }
  }
}

.info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: to-rem(24);
}

.title {
  font-size: to-rem(14);
  text-transform: uppercase;
}

.countdown {
  font-size: to-rem(44);
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.sessions {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: to-rem(4);
  padding: to-rem(4);
}

.session {
  @include square(8);
  flex-shrink: 0;
  background-color: var(--color-text-dim);
  border-radius: to-rem(4);

  &:global(.completed) {
    background-color: var(--color-text);
  }
}
