@use '@/styles/helpers' as *;

.widget {
  background-color: var(--color-bg);
  padding-inline: to-rem(16);
  padding-top: to-rem(16);
  padding-bottom: to-rem(32);
  margin-block: auto;
  border: 1px solid var(--color-border);
  border-radius: to-rem(24);
  box-shadow: var(--shadow);
  backdrop-filter: blur(30px);
}
