@use '@/styles/helpers' as *;

.settings {
}

.panel {
  display: flex;
  align-items: center;
  margin-bottom: to-rem(16);
}

.backButton {
  @include square(40);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dim);
  background-color: transparent;

  @include hover {
    color: var(--color-text);
  }

  svg {
    @include square(24);
  }
}

.fields {
  padding-inline: to-rem(12);
}

.field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: to-rem(16);
  }
}

.label {
  font-size: to-rem(12);
  color: var(--color-dim);
  text-transform: uppercase;
  margin-bottom: to-rem(8);
}

.input {
  height: to-rem(32);
  font-size: to-rem(24);
  font-weight: 500;
  border-radius: to-rem(4);
  background-color: transparent;

  &:focus-visible {
    outline: 2px solid var(--color-text-dim);
    outline-offset: 4px;
  }
}
